.basic-theme-container {
  padding: 1in;
  font-family: "Times New Roman";
  font-size: 12pt;
  line-height: 1.5;
  width: 8.27in;

  @media print {
    padding: 0;
    width: 6.27in;
  }

  * {
    font-size: inherit;
  }

  h1,
  h2 {
    text-transform: uppercase;
  }

  h1 {
    font-size: 1.166666667em;
    text-align: center;
  }

  h2 {
    margin-top: 20px;
  }

  .personal-details,
  .skills-list {
    column-count: 2;
    column-width: auto;
  }

  .skills-list {
    li {
      padding-left: 10px;
    }
  }

  .educational-background-table,
  .work-experience-table,
  .other-experience-table,
  .referees-table {
    width: 100%;

    td {
      padding-left: 20px;

      h3 {
        margin: 0;
      }
    }

    li {
      padding-bottom: 10px;
    }
  }
}
